# maven
target/

.env

# Eclipse project files
.settings/
#.checkstyle
.metadata/
.recommenders/
RemoteSystemsTempFiles/
**/.sts4-cache/

# temporal crap
*#
*~

/docker/deployments
/docker/data
/docker/log
/docker/static

*.code-workspace
*.zip
